<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Media Storage{% endblock %}</title>

        <link rel="icon" type="image/x-icon" href="{{ asset('storage.ico') }}" />

        {% javascripts
        'public/jquery/jquery.min.js'
        'public/bootstrap/js/bootstrap.min.js'
        'public/js/*.js'
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        {% stylesheets 
        'public/bootstrap/css/bootstrap.min.css' 
        'public/bootstrap/css/bootstrap-theme.min.css'
        'public/css/*.css'
        filter='cssrewrite' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

    {% block stylesheets %}{% endblock %}
    {% block javascripts %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
</body>
</html>
