<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        Hi! Your file has been successfully uploaded.
        To load, go to: <a href="{{ link }}">{{ link }}</a>.
    Thanks!

</head>
</html>